<ion-header>
  <ion-toolbar>
    <ion-title>Pregunta</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cerrar()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="background: #e4e4e4;" *ngFor="let pregun of preguntas">
      <ion-col size="12" size-md>
        <ion-card>
          <ion-list radio-group [(ngModel)]="resp">
            <ion-radio-group allow-empty-selection="true">
              <ion-list-header>
                <ion-text>
                  <h4>
                    {{pregun.num}}. {{pregun.preg}}
                  </h4>
                </ion-text>
              </ion-list-header>
              <app-opcionesmodulo [preguntas]=pregun></app-opcionesmodulo>
            </ion-radio-group>
          </ion-list>
          <ion-buttons style="margin: 0px   5px;">
            <ion-button (click)="pregunta = pregun; enableNuevo = true" shape="round">
                <ion-icon slot="end" name="brush"></ion-icon>
            </ion-button>
            <ion-button (click)="deletePregunta(pregun)" shape="round">
              <ion-icon color="danger" name="trash-bin"></ion-icon>
            </ion-button>
            <ion-button (click)="presentModalOpc(pregun)" shape="round">
              <ion-icon color="primary" name="list-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-card>
      </ion-col>
  </ion-row>
</ion-content>
<div style="background: #c4c4c4;">
    <ion-item>
        <ion-buttons slot="end">
            <ion-button color="danger" (click)="enableNuevo = false" shape="round">
                <ion-icon name="close-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="start">
            <ion-button (click)="nueva(); enableNuevo = true" color="success" class="normal" shape="round">
                Crear
            </ion-button>
        </ion-buttons>
    </ion-item>
    <div *ngIf="enableNuevo">
      <ion-card>
        <ion-card>
          <ion-card-subtitle>
            Digite los datos de la pregunta(* Datos Obligatorios)
          </ion-card-subtitle>
        </ion-card>
        <ion-item>
          <ion-label position="floating">Numero<ion-text color="danger">*</ion-text></ion-label>
          <ion-input [(ngModel)]="pregunta.num" type="number" placeholder="Digite el numero">
            <ion-text><h6>
            </h6></ion-text>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Pregunta<ion-text color="danger">*</ion-text></ion-label>
          <ion-textarea [(ngModel)]="pregunta.preg" enterkeyhint type="text" placeholder="Digite la pregunta">
            <ion-text><h6>
            </h6></ion-text>
          </ion-textarea>
        </ion-item>
      </ion-card>
      <ion-button (click)="Guardar()">
        <ion-icon name="save"></ion-icon>
        GUARDAR
      </ion-button>
    </div>
</div>