<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" size-md>
      <ion-card button=true (click)="presentModal1()">
        <ion-card-header>
          <ion-card-title>Modulo 1</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text><h6>
            ---------------
          </h6></ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-md>
      <ion-card button=true (click)="presentModal2()">
        <ion-card-header>
          <ion-card-title>Modulo 2</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text><h6>
            ---------------
          </h6></ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-md>
      <ion-card button=true (click)="presentModal3()">
        <ion-card-header>
          <ion-card-title>Modulo 3</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text><h6>
            ---------------
          </h6></ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>

