<ion-header>
  <div *ngIf="!uid.length">
    <ion-toolbar>
      <ion-title><strong>INGRESE</strong></ion-title>
    </ion-toolbar>
  </div>
  <div *ngIf="uid.length">
    <ion-toolbar>
      <ion-title><strong>PERFIL</strong></ion-title>
      <ion-buttons slot="start">
        <ion-button (click)="openmenu()">
            <ion-icon color="primary" slot="icon-only" name="menu-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content>
  <div *ngIf="!uid.length">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Ingrese los datos</ion-card-subtitle>
      </ion-card-header>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating"><h6><strong>Correo:</strong></h6></ion-label>
            <div>
              <ion-text boolean="true">
                <ion-input name="correo" type="text" [(ngModel)]="registro.email" ></ion-input>
              </ion-text>
            </div>
          </ion-item>
          <ion-item>
            <ion-label position="floating"><h6><strong>Contraseña:</strong></h6></ion-label>
            <div>
              <ion-text boolean="true">
                <ion-input name="contraseña" type="password" [(ngModel)]="registro.password" ></ion-input>
              </ion-text>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-card-content style="margin-bottom: 0px; border: 0px;">
        <ion-button (click)="ingresar()" style="margin-bottom: 0px; border: 0px;" fixed shape="round">
          Iniciar Sesion
        </ion-button>
        <ion-text [routerLink]="['/recucontra']" color="primary">
          <h6>¿Quiere restablecer la Contraseña?</h6>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="uid.length">
    <ion-card>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating"><h6><strong>Nombres:</strong></h6></ion-label>
            <div>
              <ion-text boolean="true">
                <ion-input name="nombres" type="text" [(ngModel)]="registro.nombres" ></ion-input>
              </ion-text>
            </div>
          </ion-item>
          <ion-item>
            <ion-label position="floating"><h6><strong>Apellidos:</strong></h6></ion-label>
            <div>
              <ion-text boolean="true">
                <ion-input name="apellidos" type="text" [(ngModel)]="registro.apellidos" ></ion-input>
              </ion-text>
            </div>
          </ion-item>
          <ion-item>
            <ion-label position="floating"><h6><strong>Numero de Identificacion:</strong></h6></ion-label>
            <div>
              <ion-text boolean="true">
                <ion-input name="identificacion" type="text" [(ngModel)]="registro.numidenti" ></ion-input>
              </ion-text>
            </div>
          </ion-item>
          <ion-item>
            <div>
              <ion-text boolean="true"><h6><strong>Correo:</strong> {{registro.email}}</h6></ion-text>
            </div>
          </ion-item>
          <ion-item>
            <ion-label position="floating"><h6><strong>Fecha de Nacimiento: </strong></h6></ion-label>
            <ion-input value="disabled" [value]="registro.fechanacimiento"></ion-input>
            <ion-button fill="clear" id="open-hfinal">
              <ion-icon color="primary" icon="calendar"></ion-icon>
            </ion-button>
            <ion-popover trigger="open-hfinal" show-backdrop="false">
              <ng-template>
                <ion-datetime
                  #popoverDatetime
                  presentation="date"
                  (ionChange)="registro.fechanacimiento = formatDate(popoverDatetime.value)"
                >
                </ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
          <ion-item>
            <ion-label class="normal"><h6><strong>Fotografia:  </strong></h6></ion-label>
            <ion-buttons >
              <ion-button slot="end">
                <label for="file-upload">
                  <ion-icon slot="icon-only" name="images"></ion-icon>
                </label>
                <input name="foto" (change)="newImageUpload($event)" id="file-upload" style="display: none;" type="file" accept="image/*" >
              </ion-button>
            </ion-buttons>
          </ion-item>
          <ion-avatar>
            <img [src]="registro.foto">
          </ion-avatar>
        </ion-col>
      </ion-row>
      <ion-card-content style="margin-bottom: 0px; border: 0px;">
        <ion-button (click)="guardarUser()" style="margin-bottom: 0px; border: 0px;" fixed shape="round">
          Actualizar Datos
        </ion-button>
        <ion-button (click)="salir()" style="margin-bottom: 0px; border: 0px;" fixed shape="round">
          Cerrar Sesion
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>