<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-row style="background: #c4c4c4;" *ngFor="let respuestas of respuesta">
        <ion-col size="12" size-md>
            <ion-card>
                <div style="margin: 10px   10px;">
                    <ion-text><h6><strong>Presincrito: </strong>{{respuestas.nombres}} {{respuestas.apellidos}}</h6></ion-text>
                    <ion-text *ngIf="respuestas.resp1"><h6><strong>Respuesta 1: </strong>{{respuestas.resp1}}</h6></ion-text>
                    <ion-text *ngIf="respuestas.resp2"><h6><strong>Respuesta 2: </strong>{{respuestas.resp2}}</h6></ion-text>
                    <ion-text *ngIf="respuestas.resp3"><h6><strong>Respuesta 3: </strong>{{respuestas.resp3}}</h6></ion-text>
                    <ion-text *ngIf="respuestas.resp4"><h6><strong>Respuesta 4: </strong>{{respuestas.resp4}}</h6></ion-text>
                    <ion-text *ngIf="respuestas.resp5"><h6><strong>Respuesta 5: </strong>{{respuestas.resp5}}</h6></ion-text>
                    <ion-text *ngIf="respuestas.resp6"><h6><strong>Respuesta 6: </strong>{{respuestas.resp6}}</h6></ion-text>
                    <ion-text *ngIf="respuestas.resp7"><h6><strong>Respuesta 7: </strong>{{respuestas.resp7}}</h6></ion-text>
                    <ion-text *ngIf="respuestas.resp8"><h6><strong>Respuesta 8: </strong>{{respuestas.resp8}}</h6></ion-text>
                    <ion-text *ngIf="respuestas.resp9"><h6><strong>Respuesta 9: </strong>{{respuestas.resp9}}</h6></ion-text>
                    <ion-text *ngIf="respuestas.resp10"><h6><strong>Respuesta 10: </strong>{{respuestas.resp10}}</h6></ion-text>
                </div>
                <div style="margin: 10px   10px;">
                    <ion-text><h6><strong>Calificacion: </strong>{{respuestas.calif}}</h6></ion-text>
                </div>
                <ion-toolbar style="margin: 0px   5px;">
                    <ion-text><h6><strong>
                        <div style="margin: 5px;">
                            <ion-icon name="calendar"></ion-icon>{{respuestas.fecha}} 
                        </div> 
                        <div style="margin: 5px;">
                            <ion-icon name="time"></ion-icon>{{respuestas.hora}}
                        </div>
                    </strong></h6></ion-text>
                </ion-toolbar>
                <ion-buttons>
                    <ion-button (click)="nuevo = respuestas; enableNuevo = false" shape="round">
                        <ion-icon slot="end" name="brush"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>
<div style="background: #c4c4c4;">
    <ion-item class="item-content">
        <ion-buttons slot="end">
            <ion-button color="danger" (click)="enableNuevo = true" shape="round">
                <ion-icon name="close-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>
    <div *ngIf="!enableNuevo">
        <ion-card>
            <ion-item>
                <ion-label position="floating"><h6><strong>Residente:</strong></h6></ion-label>
                <ion-text boolean="true">
                    <ion-input disabled name="nombres" type="text" [(ngModel)]="nuevo.nombres+' '+nuevo.apellidos" ></ion-input>
                </ion-text>
            </ion-item>
            <ion-item>
                <ion-label position="floating"><h6><strong>Calificacion:</strong></h6></ion-label>
                <ion-text boolean="true">
                    <ion-input name="nombres" type="text" [(ngModel)]="nuevo.calif"></ion-input>
                </ion-text>
            </ion-item>
            <ion-button (click)="guardarCalificacion()" color="primary" shape="round">
                <label>
                    <ion-icon name="save"></ion-icon>
                    Actualizar
                </label>
            </ion-button>
      </ion-card>
    </div>
</div>
